*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;    
    text-decoration: none;
}

.container {
    padding: 25px;
}

body {
    background-image: url(achtergrond.png);
    background-size: cover;
}

.navbar{
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 1.3em;
}

a{
  text-decoration: none;
  color: #dbff4a;
  
  }
  
  .navbar{
  width: 49%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 70px;
  right: -100px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: sans-serif;
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: 0px;
    right: 100px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #dbff4a;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    font-size: 1.0em;
  }
  .navbar ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background-color: #dbff4a;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after{
    width: 100%;
  
  }
  .menu-icon{
    position: absolute;
    top: 61px;
    right: 100px;
    cursor: pointer;
    width: 60px;
  
  }
  

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #006445;
    color: #dbff4a;
    padding: 12px 20px;
    border: 1px solid #dbff4a;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  #inschrijfformulier {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }

  input[type=date] {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input[type=email] {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #inschrijfformulier h1 {
    text-align: center;
  }

  #opleiding {
    background-color: #006445;
    color: #dbff4a;
}
script{
  color: #dbff4a;
  font-size: 2em;
  position: absolute;
  top: 10px;
  left: 500px;
  }
  
  
  .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  right: 0;
  background-color: #006445;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 18px;
  }
  
  .sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #dbff4a;
  display: block;
  transition: 0.3s;
  }
  
  .sidepanel a:hover {
  color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #dbff4a;
  }
  
  .openbtn {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 107px;
  background-color: #006445;
  opacity: 0%;
  width: 3vw;
  height: 6vh;
  }

